.fc-daygrid-day-number{
    cursor: pointer;
}
.modal-content{
    width: 650px !important;
}
.modal-body.resize{
    height: 500px;
    overflow-y: auto !important;
}
.error{
    font-size: 12px;
}

.fc-past {
    background: rgb(237, 238, 237);
    color: blue;
    pointer-events: none;
}

.fc .fc-daygrid-day-number{
    text-decoration: none;
}
.fc .fc-col-header-cell-cushion{
    text-decoration: none;
}